.with-icon {
    display: flex;
    align-items: center;
}

.navbar{
    justify-content: space-between;
}
mat-sidenav-container{
    height: 600px;
}
mat-sidenav{
    background-color:white;
    width: 23%;
    padding: 19px;
}

mat-sidenav-content{
    padding-left: 5px;
}

.mat-expansion-panel-header{
    padding: 0%;
}
.hover:hover{
    background-color:#f4eeff;
}
.cont{
    padding-left: 0;
    padding-right: 0;
    /* height: 600px; */
    height: 90%;
}